@{
	ViewData["Title"] = "Home Page";
}
<section class="about-me-section p-3 p-lg-5 theme-bg-light">
	<div class="container">
		<div class="profile-teaser media flex-column flex-lg-row">
			<img class="profile-image mb-3 mb-lg-0 ml-lg-5 mr-md-0" src="~/assets/images/Soheil.jpg" alt="">
			<div class="media-body">
				<h2 class="name font-weight-bold mb-1">SoheilYazdi</h2>
				<div class="tagline mb-3">Programmer | سهیل یزدی</div>
				<div class="bio mb-4">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temnare massa eget. Nisi vitae suscipit tellus mauris a diam maecenas sed enim. Velit ut tortor pretium viverra suspendisse potenti nullam. Et molestie ac feugiat sed lectus. Non nisi est sit amet facilisis magna. Dignissim diam quis enim lobortis scelerisque fermentum. Odio ut enim blandit volutpat maecenas volutpat.
				</div>
				<div class="mb-4">
					<a class="btn btn-primary mr-2 mb-3" href="http://www.github.com/soheil-yz">
						<i class="fas fa-arrow-alt-circle-right ml-2"></i><span class="d-none d-md-inline">
							Github
							
						</span> 
					</a>
					<a class="btn btn-secondary mb-3" href="#">
						<i class="fas fa-file-alt ml-2"></i>
						<span class="d-none d-md-inline">مشاهده </span> نمونه کارها
					</a>
				</div>
			</div>

		</div>
	</div>
</section>

@* <partial name="Projects" /> *@
@await Component.InvokeAsync("Project")

<div class="container">
	<hr>
</div>

@await Component.InvokeAsync("LatestArticales")
